{% if variant == 'list-item-medium' %}
{% set daysToGo = date(thing.releasedate).diff(date('midnight')) %}
{% set timeToGo = date(thing.releasedate).diff(date('now')) %}

<div class="event-info col-xs-12 col-md-6">
  <h2><a href="#">{{ thing.name }}</a></h2>
  <p>

    {% if daysToGo.d > 30 %}
      Ticketverkoop start op {{ thing.releasedate|date('d-m-Y') }} om {{ thing.releasedate|date('H:i') }}.
    {% elseif daysToGo.d > 2 %}
      Ticketverkoop start over {{ daysToGo.d }} dagen om {{ thing.releasedate|date('H:i') }}.
    {% elseif thing.releasedate|date('U') > 'now'|date('U') %}
      Ticketverkoop start over {{timeToGo.d * 24 + timeToGo.h}} uur, {{timeToGo.m}} minuten en {{timeToGo.s}} seconden.
    {% else %}
      Ticketverkoop is inmiddels gestart.
    {% endif %}

    <a href="https://facebook.com">Rolf</a>, <a href="https://facebook.com">Wimlex</a>, <a href="https://facebook.com">Amalia</a> en 23 anderen zoeken een kaartje</p>
</div>
<div class="event-demand hidden-xs col-sm-12 col-md-6">
  <div class="row">
    {% for i in 1..3 %} 
    <div class="event-demand-item col-xs-4" >
      <img src="http://www.hellomagazine.com/imagenes/profiles/prince-willem-alexander/5730-willem-alexander.jpg" class="img-circle" />
      <p><strong>Wimlex</strong><br>5&times; Regular ticket<br>&agrave; &euro; 80 per kaartje</p> 
    </div>
    {% endfor %}
  </div>
</div>
<div class="event-demand col-sm-12 text-center">
  <div class="btn-group" role="group" aria-label="Koop kaartjes | verkoop kaartjes">
    <button type="button" class="btn btn-default">Koop kaartjes</button>
    <button type="button" class="btn btn-default">Verkoop kaartjes</button>
  </div>
</div>
{% endif %}